<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>贝壳社区</title>
    <script src="/dist/js/jquery-3.4.1.min.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/dist/css/community.css" rel="stylesheet">
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="jumbotron" style="min-height: 300px;">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"><h1>出错啦！！！</h1>
        <p th:text="${message}">服务出错啦，程序猿正在紧张修复中~</p>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">回到主页</a></p>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
<!--        <img class="images-thumbnail" style="width: 35%;" src="/images/official.jpg">-->
    </div>
</div>

</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>